@use "../styles/variables" as var;

.header {
  @include var.flexRow;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid black;

  & > span {
    font-weight: bold;
  }
}

.player {
  @include var.flexRow;
  justify-content: space-between;
  align-items: center;
}

.playerlist {
  padding: 0 0.5rem;
  flex-basis: 25%;

  @include var.mobile {
    flex-basis: 100%;
    width: 100%;
  }
}

.list {
  padding: 0.5rem;
}

.winner {
  text-align: center;
}
